<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>eSchool - School Management System</title>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="shortcut icon" href="/static/logo/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="eSchool - School Management System">
    <meta property="og:description" content="School Management System">
    <meta property="og:image" content="/static/logo/favicon.ico">
    <meta property="og:url" content="{{full_url}}">
    <meta property="og:type" content="website">
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }}" role="alert">
        <b>{{ message }}</b>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container my-3">
        <center>
            <a href="/">
            <img src="/static/logo/android-chrome-192x192.png" alt="logo" width='50px'>
            </a>
        </center>
        <h4 class='text-center mt-2'>eSchool - School Management System</h4>
        <div class="row mt-2 g-3">
            {% if request.GET.pp != '1' %}
            <div class="col-md-6">
                <div class="p-3 rounded" style="background-color: #f1f1f1;">
                    <h4 class="my-3 text-center">Staff Login</h4>
                    <div class="text-center mt-3 w-25 container" style="min-width: 300px;">
                        {% comment %} <div class="mt-3">
                            <img src="/static/user.png" alt="user" width="120">
                        </div> {% endcomment %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="mb-2 ">
                                <label for="username" class="form-label float-start"><i class="bi bi-person-fill"></i> Username</label>
                                <input type="text" required name="username" id="username" class="mt-3 form-control"
                                    placeholder="Enter username">
                            </div>
                            <div class="mb-3 ">
                                <label for="password" class="form-label float-start"><i class="bi bi-key-fill"></i> Password</label>
                                <input type="password" required name="pwd" id="pwd" class="my-3 form-control"
                                    placeholder="Enter password">
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label float-start">Captcha</label>
                                {{form.captcha_field}}
                            </div>
                            <script>
                                id_captcha_field_1.classList.add('form-control')
                                id_captcha_field_1.classList.add('my-3')
                                id_captcha_field_1.placeholder = "Enter captcha value";
                            </script>
                            <button type="submit" class="btn btn-primary px-5 ">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% comment %} vertical line {% endcomment %}

            <div class="col-md-6" id='parents-login'>
                <div class="p-3 rounded" style="background-color: #f1f1f1;">
                    <h4 class="my-3 text-center">Parents Login</h4>
                    <div class="text-center mt-3 w-25 container" style="min-width: 300px;">
                        {% comment %} <div class="mt-3">
                            <img src="/static/user.png" alt="user" width="120">
                        </div> {% endcomment %}
                        <form action="/parents_login/" method="POST">
                            {% csrf_token %}
                            <div class="mb-2 ">
                                <label for="phone" class="form-label float-start"><i class="bi bi-phone-fill"></i> Mobile Number</label>
                                <input type="number" required name="phone" id="phone" class="mt-3 form-control"
                                    placeholder="Enter mobile number">
                            </div>
                            {% comment %} <div class="mb-3 ">
                                <label for="password" class="form-label float-start">Password</label>
                                <input type="password" required name="pwd" id="pwd" class="my-3 form-control"
                                    placeholder="Enter password">
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label float-start">Captcha</label>
                                {{form.captcha_field}}
                            </div> {% endcomment %}
                            <script>
                                id_captcha_field_1.classList.add('form-control')
                                id_captcha_field_1.classList.add('my-3')
                                id_captcha_field_1.placeholder = "Enter captcha value";
                            </script>
                            <button type="submit" class="btn btn-primary px-5 ">Login</button>
                        </form>
                    </div>
                    <div class="d-flex mt-5">
                        <p class="text-mute">Share Link</p>
                        <a href="whatsapp://send?text={{ request.scheme }}://{{ request.META.HTTP_HOST }}?pp=1" data-action="share/whatsapp/share" class="mx-5" target="_blank">
                            <i class="bi bi-whatsapp text-success fs-5"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>